{% extends 'pag_base.html' %}
{% load static %}
{% block title %}Deletar postagem{% endblock %}
{% block content %}
<div class="pagina_formulario_deleta">
    <form method="post">
        {% csrf_token %}
        <p>Tem certeza que deseja deletar essa postagem do nosso blog?</p>
        <button class="btns_pagina_deleta btn_confirmar" type="submit"></button>
        <a href="{% url 'abrir_post' postagem.id %}"><button class="btns_pagina_deleta btn_voltar"
                type="button"></button></a>
    </form>
</div>
{% endblock content%}